@font-face {
  font-family: "open sans";
  src: url(font/static/OpenSans/OpenSans-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 50px;
  background-color: #457b9d;
  font-family: "open sans";
}


#profileCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 60px;
  background-color: #1d3557;
  padding: 10px 30px;
  width: 50%;
  border-radius: 10px;
  color: white;
}
#profileCard .imgDiv{
  padding: 30px;
}
.imgDiv img {
  width: 150px;
  border-radius: 50%;
}

.contentDiv {
  width: 90%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.contentDiv ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 40px;
}

.contentDiv h3 {
  font-size: 1.2em;
  text-transform: capitalize;
  /* padding-bottom: 10px; */
}

.contentDiv ul li span {
  font-weight: 800;
  font-size: 1em;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-direction: row;
}

input:nth-child(1) {
  /* width: 100%; */
  border: 2px solid #a8dadc;
  border-radius: 5px;
  padding: 20px 100px;
  font-size: 1.2em;
}

input:nth-child(1):focus {
  outline-color: #a8dadc;
  border: none;
}

input:nth-child(2) {
  padding: 20px 40px;
  font-size: 1.2em;
  background-color: #a8dadc;
  border: none;
  border-radius: 5px;
  color: #1d3557;
  font-weight: 600;
  box-sizing: border-box;
  cursor: pointer;
}

.cardContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
